.customizer-main-grid {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.candle-cell {
    margin-left: 4rem;
}

.customizer-box-cell {
    margin-right: 4rem;
}

@media screen and (max-width: 1023px) {
    .candle-cell {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .customizer-box-cell {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.button-cart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-next {
    margin-left: 5rem;
}

.button-back {
    margin-right: 5rem;
}

.is-hidden {
    display: none !important;
}

.color-button.is-selected {
    border: 2px solid #000;
    background-color: #f5f5f5;
}

.scent-button.is-selected {
    border: 2px solid #000;
    background-color: #f5f5f5;
}

.wick-button.is-selected {
    border: 2px solid #000;
    background-color: #f5f5f5;
}

.image.is-144x128 {
    height: 144px;
    width: 128px;
}

.image.is-216x192 {
    height: 252px;
    width: 224px;
}

.preview-container {
    position: relative;
}

#candle-preview {
    display: block;
    width: 100%;
    height: auto;
}

#scent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: 10;
}

#text-overlay {
    position: absolute;
    top: 53%;
    left: 25%;
    width: 50%;
    text-align: center;
    z-index: 20;
    font-size: 0.8rem;
    word-wrap: break-word;
}

.tabs img {
    height: 4rem;
}

.tabs li.is-active a {
    background-color: #F1F2F1 !important;
    border-color: #F1F2F1 !important;
    color: #fff !important;
}
